:root {
  --main-body-background: #757575;
  --input-output-background: #fff;
  --input-output-border: #000;
}

/* Основное тело калькулятора */

.main-body{
      width: 336px;
    height: 554px;
    /* Размеры */
    background: var(--main-body-background);
    /* Цвет фона */
    outline: 2px solid #000;
    /* Чёрная рамка */
    border: 3px solid #fff;
    /* Белая рамка */
    border-radius: 10px;
    /* Радиус скругления */
}

/* Поле ввода-вывода */

.input-output{
  margin: 16px 16px 64px 16px;
  background: var(--input-output-background);
  border: 2px solid var(--input-output-border);
  border-radius: 5px;
}

.inp {
  width: 97%;
  height: 48px;
  text-align: right;
}

.output{
  /* margin-right: 1px; */
  text-align: right;
}

/* Клавиатура */

.one-nine{
  width: 200px;
  height: 268px;
  margin: 0px 4px 4px 4px;
  }



.number-keys{
  width: 64px;
  height: 64px;
}

.zero{
  width: 200px;
}
